$color1: #000000;
$color2: rgba(255, 255, 255, 0.07);
$color3: rgba(196, 196, 196, 0.1);

$fontColor1: #FFFFFF;
$fontColor2: rgba(255, 255, 255, 0.75);
$fontColor3: #C4C4C4;
$fontColor4: #FFFFFF;

$gradiantColor1:  -webkit-linear-gradient(0deg, rgba(0, 209, 255, 0.15) 0%, rgba(0, 85, 251, 0.15) 100%);

$buttonColor1: linear-gradient(90deg, rgba(55, 55, 55, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%);
$buttonColor2: linear-gradient(90deg, rgba(0, 117, 255, 0.33) 0%, rgba(0, 240, 255, 0.33) 100%);

$uColor1: rgba(255, 255, 255, 0.15);
$uColor2: rgba(0, 0, 0, 0.25);
$uColor3: rgba(255, 255, 255, 0.25);
$uColor4: rgba(255, 255, 255, 0.5);
$uColor5: rgba(255, 255, 255, 0.85);