@import '../1-helpers/_fonts.module.scss';
@import '../1-helpers/_colors.module.scss';

.Contact {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content min-content;
    align-content: center;
    z-index: 2;
    width: min(30rem, 90%);

}



.name {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-top: 2.5rem;
    p { @include fontText1(); color: $uColor4; margin-bottom: .75rem; }
    input { 
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $uColor4;
        @include fontText1();
        padding-bottom: .75rem;
        color: $fontColor2;

        &::placeholder {
            @include fontText1();
            color: $uColor3;
            transition: .25s;
        }
        &:focus {
            outline: none;
            border-bottom: 2px solid $uColor5;

        }
        &:focus::placeholder {
            color: transparent;
            transition: .15s;
        }
    }
}
.email {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

    p { @include fontText1(); color: $uColor4; margin-bottom: .75rem; }
    input { 
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $uColor4;
        @include fontText1();
        padding-bottom: .75rem;
        color: $fontColor2;

        &::placeholder {
            @include fontText1();
            color: $uColor3;
            transition: .25s;
        }
        &:focus {
            outline: none;
            border-bottom: 2px solid $uColor5;

        }
        &:focus::placeholder {
            color: transparent;
            transition: .15s;
        }
    }
}
.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 4.5rem;
    p { @include fontText1(); color: $uColor4; margin-bottom: .75rem;}
    textarea { 
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $uColor4;
        resize: none;
        height: 10rem;
        @include fontText2();
        color: $fontColor2;

        &::placeholder {
            @include fontText2();
            color: $uColor3;
            transition: .25s;
        }
        &:focus {
            outline: none;
            border-bottom: 2px solid $uColor5;

        }
        &:focus::placeholder {
            color: transparent;
            transition: .15s;
        }
    }
}
.send-button {
    width: 100%;
    height: 6.25rem;
    background-color: rgba(150, 126, 255, 0.3);
    border: none;
    @include fontText2();
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 5px;

    &:hover {
        transform: translateY(3px);
        box-shadow: 0px 8px 15px rgba(0, 0, 0, .75);
    }
    &:active {
        transform: translateY(5px);
        box-shadow: 0px 6px 15px rgba(0, 0, 0, .75);
    }
}